Port 2222
AddressFamily any
ListenAddress 0.0.0.0
ListenAddress ::
HostKey /home/bkp/ssh_host_rsa_key
PidFile /home/bkp/run/sshd.pid
PasswordAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
AllowAgentForwarding no
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
PrintMotd no
AcceptEnv LANG LC_*